/* css styles */

/* Thick border under the header */
thead th {
  border-bottom: 2px solid black !important; /* Thick header line */
}

/* Thin lines between each row */
tbody td {
  border-bottom: 2.25px solid #b1b0b0; /* Thin row line */
}

/* Make all tables fill available width */
table {
width: 100%;
table-layout: auto; /* automatically distribute column widths */
}